@use "@/config/layout.scss";

$position_top:8px;
$position_right:8px;

.map_menus_wrapper {
    position: fixed;
    top: (layout.$header_panel_height + $position_top);
    right: (layout.$right_panel_width + $position_right);
    width: 0;
    height: 0;
    z-index: layout.$panel_default_level;
    margin-right: 40px;
    transition: right .28s ease-in-out;

    &.close_right_panel {
        right: $position_right;
    }

    .map_menus_item {
        width: 40px;
        height: 28px;
        border-radius: 4px;
        background: linear-gradient(90deg, #D5F2FF 0%, rgba(156, 185, 248, 0.8) 100%);
        box-shadow: 0px 2px 6px 0px #00000040;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        .map_menus_item_icon {
            width: 20px;
            height: 20px;
            color: #1E55CC;
        }

        &.active {
            .map_menus_item_icon {
                color: #fff;
            }

            background: linear-gradient(90deg, #61CDFF 0%, #1677FF 40.15%, #1E55CC 100%);
        }
    }
}